<!-- include create widgets form -->
<div ng-include src="'views/widgets/createWidgetForm.html'"></div>

<!-- Widget listing -->
<div class="col-lg-12">
  <div class="widget">
    <div class="widget-header">Widgets
      <div class="pull-right">
        <button class="btn btn-sm btn-info" ng-click="setCreateWidgetFormDisplay()">+ Create</button>
      </div>
      <div class="pull-right">
        <input type="text" class="form-control input-sm" placeholder="&#128269;" ng-Model="searchQuery">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Melts?</th>
            <th>Inventory</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="widget in widgets | filter: searchQuery | orderBy: widget.id">
            <td>{{widget.id}}</td>
            <td><a href="#/widgets/{{widget.id}}">{{widget.name}}</a></td>
            <td>{{widget.color}}</td>
            <td>{{widget.price}}</td>
            <td>{{widget.melts | isTrue }}</td>
            <td>{{widget.inventory}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- End Widgets -->
