<!-- include edit form as a second method to edit the widget -->
<div ng-include src="'views/widgets/editWidgetForm.html'"></div>

<!-- Tables -->
<div class="row">
  Widget listing
  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">Widgets
        <div class="pull-right">
          <button class="btn btn-sm btn-info" ng-click="setEditWidgetFormDisplay()">+ Edit</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Name</th>
              <th>Color</th>
              <th>Price</th>
              <th>Melts?</th>
              <th>Inventory</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">{{widget.id}}</td>
              <td>
                <!-- edit in place -->
                <a href="#" editable-text="widget.name">{{widget.name || 'not set'}}</a>
              </td>
              <td>
                <!-- edit in place -->
                <a href="#" editable-select="widget.color" e-ng-options="c.value as c.color for c in widgetColors">
                  {{widget.color || 'not set'}}
                </a>
              </td>
              <td>
                <!-- edit in place -->
                <a href="#" editable-text="widget.price">${{widget.price || 'not set'}}</a>
              </td>
              <td>
                <!-- edit in place -->
                <a href="#" editable-select="widget.melts" e-ng-options="m.id as m.value for m in hasMelts">
                  {{widget.melts | isTrue}}
                </a>
              </td>
              <td>
                <!-- edit in place -->
                <a href="#" editable-text="widget.inventory">{{widget.inventory || 'not set'}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- End Widgets -->
</div><!-- End Row -->
