<!-- Tables -->
<div class="row">

  <!-- Users listing -->
  <div class="col-lg-6">
    <div class="widget">
      <div class="widget-header">Users
        <div class="pull-right"><input type="text" class="form-control input-sm" ng-Model="filterByName"></div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter: filterByName | orderBy: user.id">
              <td class="text-center">{{user.id}}</td>
              <td><a href="#/users/{{user.id}}">{{user.name}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- End Users -->
